.bannerBox {
  width: 100%;
  height: 700px;
  position: relative;
}
.img {
  width: 100%;
  height: 100%;
}
.bannerTextBox {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 10%;
}
.heading {
  font-size: 44px;
  font-weight: 600;
  font-family: "karla" !important;
}
.contactSection {
  width: 85%;
  height: auto;
  margin: 35px auto 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.innerBox {
  width: 45%;
}
.innerBox:first-child {
  background-color: #f7f8f8;
  padding: 20px;
  border-radius: 20px;
}
.innerBox label {
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0px 5px;
}
.inputBox {
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
}
.inputBox input,
.inputBox textarea {
  background: none;
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
}
.inputBox input::placeholder,
.inputBox textarea::placeholder {
  color: rgba(0, 0, 0, 0.48);
  font-size: 12px;
}
.inputBtn {
  width: 100%;
  background-color: #000;
  text-align: center;
  border-radius: 15px;
  margin-top: 35px;
}
.inputBtn button {
  background: none;
  border: none;
  color: #fff;
  padding: 10px 0px;
}
.innerBox h2 {
  font-size: 35px;
  font-weight: 700;
}
.contentBox {
  margin-top: 35px;
}
.contentBox h3 {
  font-size: 25px;
  font-weight: 500;
}
.contentBox p {
  font-size: 14px;
  font-weight: 400;
  color: #393939;
}
@media only screen and (min-width: 360px) and (max-width: 740px) {
  .bannerBox {
    height: 400px;
  }
  .bannerTextBox {
    width: 90%;
    left: 5%;
    text-align: left;
  }
  .heading {
    font-size: 35px;
  }
  .contactSection {
    width: 90%;
    position: relative;
  }
  .innerBox {
    width: 100%;
  }
  .innerBox:first-child {
    margin-bottom: 20px;
  }
  .innerBox h2 {
    font-size: 25px;
    font-weight: 700;
  }
  .contentBox h3 {
    font-size: 20px;
  }
}
